

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
ul{
    list-style: none;
}
html {
    scroll-behavior: smooth;
}



body {
    /* background: linear-gradient(to bottom,#fff,rgb(163, 203, 255),rgb(163, 203, 255)); */
    background: #10314b;
}

.wrapper {
    background: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 8px 10px 10px #0f2a3f
}
.wrapper-container{
    padding: 30px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 25px;
}

section {
    padding: 50px 0;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.164);
    transition: 0.3s;
}


.header {
    padding-bottom: 50px;
    background-image: url('img/7.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.header__content_avatar-block{
    margin: 0 auto;
    display: none;
}
.header__content_avatar{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow:  9px 9px 18px #acacac,
    -9px -9px 18px #ffffff;
}
.header__nav_burger{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;

}
.header__nav_burger-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.burger-line{
    opacity: 1;
    width: 50px;
    height: 2px;
    background: #000;
    transform-origin: top left;
    transition: transform 0.3s, opacity 0.1s;
}
.upper_line-active{
    transform: rotate(45deg);

}
.lower_line-active{
    transform: rotate(-45deg);
}
.middle_line-active{
    opacity: 0;
}
.header__nav_burger-list{
    display: none;
    height: 0px;
    padding: 5px;
    transition: 0.2s;
    overflow: hidden;

}

.burger_list-active{
    height: 120px;
}
.avatar {
    width: 270px;
    height: 270px;
    padding: 5px;
    border-radius: 50%;
    box-shadow:  0px 9px 18px 10px #00000044;;
}


.header__nav>.container {
    display: flex;
    justify-content: flex-end;
}

.header__nav_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header__nav_avatar{
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.header__nav_list>li>.list-link {
    margin: 15px;
    padding-bottom: 0;
    margin-bottom: 15px;
}

.list-link {
    display: inline-block;
    color: rgb(47, 47, 47);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px transparent solid;
    transition: border-bottom 0.2s, color 0.2s;
}

.list-link:hover {
    border-bottom: 2px #135075 solid;
    color: #135075;
}

.section__title {
    display: inline-block;
    color: rgb(47, 47, 47);
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0;

}
.header__title{
    font-size: 60px;

}
.section__subtitle {
    padding-top: 10px;
    color: rgb(47, 47, 47);
    font-size: 35px;
    font-weight: 600;
}

.section__list {
    padding: 20px 0;
}

.section__list>li {
    font-size: 22px;
}
.about-list > li > i {
    width: 20px;
}

.skills-block {
    display: flex;
}

.skills__list {
    margin-right: 30px;
}

.skills__list>li {
    font-size: 25px;
    font-weight: 700;
    color: rgb(47, 47, 47);
}
.skills__list > li > i{
    width: 25px;
}

.section__link {
    text-decoration: underline;
    color: rgb(47, 47, 47);
    font-weight: 700;
    transition: 0.2s;
}
.experience-descr{
    margin-top: 20px;
    font-size: 27px;
    color: rgb(47, 47, 47);
}
.experience-descr span{
    font-weight: 800;
    color: rgb(47, 47, 47);
}
.experience-projects-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 27px;
    color: rgb(47, 47, 47);
}
@media(max-width:820px){
    .experience-projects-title{

        margin-top: 24px;
    }
}
.experience-grid{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
}
.experience-grid-card{
    grid-column: 1 span;
    text-decoration: none;
    transition: 0.3s;
}
.experience-grid-img{
    max-width: 100%;
    border-radius: 10px;
}
.experience-grid-text{
    padding: 10px;
}
.experience-grid-text-title{
    font-size: 27px;
    color: rgb(57, 57, 57);
    transition: 0.3s;
}
.experience-grid-card:hover{
    transform: scale(1.025);
}
.experience-grid-card:hover .experience-grid-text-title{
    color: #000;
}
.experience-grid-text-descr{
    font-size: 20px;
    color: rgb(80, 80, 80);
    transition: 0.3s;
    margin-top: 6px;
}
.experience-grid-card:hover .experience-grid-text-descr{
    color: #000;
}
.footer {
    padding: 25px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link>img {
    width: 100px;
}

.section__link:hover {
    color: rgb(101, 101, 255);
}

.section__list>li>i {
    margin-right: 10px;

}

.fa-user-check {
    margin-right: 15px;
}

.fa-head-side-brain {
    margin-right: 15px;
}

.fa-user-clock {
    margin-right: 15px;
}

.fa-circle {
    font-size: 10px;
    font-weight: 700;
}

